{% load static %}
<!DOCTYPE html>
<html lang="en" class="w-100 h-100">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css">
        #map {
            position: relative;
            height: 90% !important;
            width: 100%;
            z-index: -50;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Ignite</title>
</head>

<body style="background-color: #FFEEC4">
    <a href="{% url 'start_page:get_start_page' %}"><img
            style="height: 60px; top:10px; margin-left:45%; margin-bottom:10px; position:relative"
            src="{% static 'global_images/logo.png' %}" /> </a>
    <div style="height: 100%; width:100%; position:absolute" id="map"></div>
    <a style="position:absolute; top:90%; margin-left:-50%; box-sizing:content-box"
        href="{% url 'start_page:get_start_page' %}" class="btn btn-lg btn-secondary mb-3">Go to home page</a>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyariNg9tgX0GBtdB2I_syXBuiN3BOBNs&callback=initMap&libraries=&v=weekly"
        async>
        </script>

    <script>
        function initMap() {
            const coords = {
                lat: parseFloat("{{lat}}"),
                lng: parseFloat("{{lon}}")
            };

            const map = new google.maps.Map(
                document.getElementById("map"), {

                zoom: 17.56,
                center: coords,
            });

            var first_name = "{{user.first_name}}"
            var last_name = "{{user.last_name}}"
            new google.maps.Marker({
                position: map.getCenter(),
                map: map,
                label: first_name[0] + last_name[0]
            });

            const friends = JSON.parse("{{friends|escapejs}}");

            for (const [key, value] of Object.entries(friends)) {
                console.log(value)
                var f_name = value[1]
                var l_name = value[0]
                new google.maps.Marker({
                    position: { lat: parseFloat(value[2]), lng: parseFloat(value[3]) },
                    map: map,
                    label: f_name[0] + l_name[0]
                });
            }
        }
    </script>



</body>